<div class="btn-group" id="anchored">
  <button type="button" class="btn btn-primary dropdown-toggle filterbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Insurer
  </button>
  <div class="dropdown-menu">
    <% @insurers.each do |insurer| %>
      <a class="dropdown-item" href="<%= hospitals_path(@hospital, city: params[:city],tag: tags(insurer), anchor: "anchored") %>"><%= insurer%></a>
    <% end %>
  </div>
</div>
<% if params["city"].present? %>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle filterbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      District
    </button>
    <div class="dropdown-menu">
      <% @districts.uniq.each do |district| %>
        <a class="dropdown-item" href="<%= hospitals_path(@hospital, city: params[:city], tag: tags(district), anchor: "anchored")%>"><%= district %></a>
      <% end %>
    </div>
  </div>
<% end %>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle filterbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Provider Type
  </button>
  <div class="dropdown-menu">
    <% @provider_types.each do |type| %>
      <a class="dropdown-item" href="<%= hospitals_path(@hospital, city: params[:city], tag: tags(type), anchor: "anchored")%>"><%=  type%></a>
    <% end %>
  </div>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle filterbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Language
  </button>
  <div class="dropdown-menu">
    <% @languages.each do |language| %>
      <a class="dropdown-item" href="<%= hospitals_path(@hospital, city: params[:city], tag: tags(language), anchor: "anchored")%>"><%= language %></a>
    <% end %>
  </div>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle filterbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Specialty
  </button>
  <div class="dropdown-menu scroll">
    <% @specialties.each do |specialty| %>
      <a class="dropdown-item" href="<%= hospitals_path(@hospital, anchor: "anchored", city: params[:city], tag: tags(specialty.split(' ').first))%>"><%= specialty %></a>
    <% end %>
  </div>
</div>
<div>
  <% unless params[:city] == "" || params[:city].nil? %>
    <p class='search-loc'>Search Location:  <%= params[:city] %></p>
  <% end %>
</div>
<div class="filtertags">
  <% if !params[:tag].nil? && params[:query] != "" %>
    <% params[:tag].delete_at(0) if params[:tag][0] == "" %>
    <% (params[:tag] || []).each do |tag| %>
      <%= link_to tag, hospitals_path(@hospital, tag: tag), class: "tag"%>
    <% end %>
  <% end %>
</div>