<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle filterbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Insurer
  </button>
  <div class="dropdown-menu">
    <% @insurers.each do |insurer| %>
      <a class="dropdown-item" href="<%= hospitals_path(@hospital, city: params[:city],tag: tags(insurer)) %>"><%= insurer%></a>
    <% end %>
  </div>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle filterbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Provider Type
  </button>
  <div class="dropdown-menu">
    <% @provider_types.each do |type| %>
      <a class="dropdown-item" href="<%= hospitals_path(@hospital, city: params[:city], tag: tags(type))%>"><%=  type%></a>
    <% end %>
  </div>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle filterbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Language
  </button>
  <div class="dropdown-menu">
    <% @languages.each do |language| %>
      <a class="dropdown-item" href="<%= hospitals_path(@hospital, city: params[:city], tag: tags(language))%>"><%= language %></a>
    <% end %>
  </div>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle filterbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Specialty
  </button>
  <div class="dropdown-menu">
    <% @specialties.each do |specialty| %>
      <a class="dropdown-item" href="<%= hospitals_path(@hospital, city: params[:city], tag: tags(specialty.split(' ').first))%>"><%= specialty %></a>
    <% end %>
  </div>
</div>
<div>
  <p>Search Location: <%= params[:city] %></p>
</div>
<div class="filtertags">
  <% if params[:tag] %>
    Filters:
    <% (params[:tag] || []).each do |tag| %>
      <%= link_to tag, hospitals_path(@hospital, tag: tag), class: "tag" %>
    <% end %>
  <% end %>
</div>