<h1>Hospitals#show</h1>
<hr>
<!-- return all the existing comments -->
<h2>Comments</h2>
<% @hospital.comments.each do |comment| %>
  User: <%= comment.user.first_name %> <%= comment.user.last_name %><br>
  Title: <%= comment.title %><br>
  Comment: <%= comment.comment %><br>
  <hr>
<% end %>
<%= render 'comments/new' %>